[Unit]
Description=caddy
After=multi-user.target

[Service]
Restart=always
RestartSec=60
Type=idle
User=root
ExecStartPre=/usr/bin/ulimit -n 8192
ExecStart=/usr/bin/caddy -log stdout
WorkingDirectory=/etc/caddy

[Install]
WantedBy=multi-user.target
