[Unit]
Description=caddy
After=multi-user.target

[Service]
Restart=always
RestartSec=60
Type=idle
User=root
ExecStart=/usr/bin/caddy -port 80
WorkingDirectory=/etc/caddy

[Install]
WantedBy=multi-user.target
