[Unit]
Description=fetch-o-vorba-buna
After=multi-user.target

[Service]
Restart=always
RestartSec=3600
Type=idle
User=root
ExecStart=/usr/local/bin/fetch-o-vorba-buna

[Install]
WantedBy=multi-user.target
Alias=fetch-o-vorba-buna.service
