[Unit]
Description=gohttpserver
After=multi-user.target

[Service]
Restart=always
RestartSec=60
Type=idle
User=root
ExecStart=/usr/local/bin/gohttpserver --conf=/etc/fetch-o-vorba-buna/gohttpserver/config.yaml
WorkingDirectory=/etc/fetch-o-vorba-buna/gohttpserver

[Install]
WantedBy=multi-user.target
